body {

 

    background-image: url(../assets/Backgrounds/Poke_Background.png);

    background-size: cover;

    background-position: center;

    background-repeat: no-repeat;

    background-attachment: fixed; 

}

.traineros-navbar {


    background-image: url("../assets/Backgrounds/Nav_Bar.png");

    background-size: cover;

    background-position: center;

    background-repeat: no-repeat; 

    min-height: 90px;

    border-radius: 12px;

    overflow:hidden;

}

.traineros-logo {

    transform: translateY(-6px);
}

.traineros-nav-image {

    height: 45px;

    weight: auto;

   

}

.traineros-nav-search {

    height: 45px;

    weight: auto;

    

    
}

.traineros-nav-database {

    height: 45px;

    weight: auto;


}