body {

    background-image: url(../assets/Poke_Background.png);

    background-size: cover;

    background-position: center;

    background-repeat: no-repeat;

    background-attachment: fixed;
    
}